SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
TZ=Europe/Stockholm


# Tibber daily fetch (12:30–13:59 local, every 15 min)
30,45 12 * * * root cd /app && /usr/local/bin/python fetch/fetch_tibber.py > /app/data/logs/fetch_tibber.log 2>&1
0,15,30,45,59 13 * * * root cd /app && /usr/local/bin/python fetch/fetch_tibber.py > /app/data/logs/fetch_tibber.log 2>&1

# Washer effect every 1 minute
* * * * * root cd /app && /usr/local/bin/python fetch/fetch_washer.py > /app/data/logs/fetch_washer.log 2>&1

# Weather every 30 minutes
*/30 * * * * root cd /app && /usr/local/bin/python fetch/fetch_weather.py > /app/data/logs/fetch_weather.log 2>&1

